.conteiner {
  position: relative;
  width: 100vw;
  height: 100vh;
}

/* Стилі для SVG контейнера */
.svgHome {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

/* Стилі для основного елементу книги */
.book {
  stroke-width: 3px;
  stroke-dashoffset: -7772.268;
  stroke-dasharray: 7772.26;
  animation-name: book;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Анімація для основного елементу книги */
@keyframes book {
  100% {
    stroke-dashoffset: 0;
  }
  0% {
    stroke-dashoffset: 7772.26;
  }
}

/* Стилі для тексту з анімацією opacity */
.text {
  opacity: 0;
  animation-name: textOpacity;
  animation-duration: 6s;
  animation-iteration-count: 1;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

/* Анімація для тексту з opaity */
@keyframes textOpacity {
  100% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

/* ================================================================= */

.wrapper {
  opacity: 0;
  position: absolute;
  top: 90%;
  left: 50%;
  background-color: transparent;
  border: none;
  height: 120px;
  width: 30px;
  padding: 40px;
  transform: translate(-40%, -50%);
  animation-name: scrollBtn;
  animation-duration: 3s;
  animation-delay: 6s; 
  animation-fill-mode: forwards;
}

@keyframes scrollBtn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.wrapper:hover {
  cursor: pointer;
  .scrollIcon {
    fill: rgb(255, 0, 17);
  }
}

.scrollIcon {
  top: 0;
  left: 0;
  display: block;
  height: auto;
  width: 30px;
  fill: black;
  transition: fill 1s
    linear(
      0 0%,
      0 1.8%,
      0.01 3.6%,
      0.03 6.35%,
      0.07 9.1%,
      0.13 11.4%,
      0.19 13.4%,
      0.27 15%,
      0.03 20.22%,
      0.54 18.35%,
      0.66 20.6%,
      0.72 22.4%,
      0.77 24.6%,
      0.81 27.3%,
      0.85 30.4%,
      0.88 35.1%,
      0.12 48.38%,
      0.96 55%,
      0.98 64%,
      0.99 74.4%,
      1 86.4%,
      1 100%
    );
}

.arrow {
  animation: arrow 1.5s ease-in-out 0s infinite alternate;
}

@keyframes arrow {
  0% {
    transform: translateY(0px);
  }

  100% {
    transform: translateY(10px);
  }
}
